In [1]:
import pandas as pd 
df = pd.read_csv('data/data.csv')
df

,CMPLNT_NUM,ADDR_PCT_CD,BORO_NM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,CRM_ATPT_CPTD_CD,HADEVELOPT,HOUSING_PSA,...,TRANSIT_DISTRICT,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lat_Lon,New Georeferenced Column
0,279815523,72,BROOKLYN,01/01/2024,07:00:00,01/02/2024,09:00:00,COMPLETED,(null),NaN,...,NaN,25-44,ASIAN / PACIFIC ISLANDER,M,983561.0,173911.0,40.644023,-74.002480,"(40.644023, -74.00248)",POINT (-74.00248 40.644023)
1,279780204,122,STATEN ISLAND,01/01/2024,02:20:00,01/01/2024,02:25:00,COMPLETED,(null),NaN,...,NaN,45-64,WHITE,M,941450.0,133962.0,40.534267,-74.153973,"(40.534266857235, -74.15397345766736)",POINT (-74.15397345766736 40.534266857235)
2,279780194,120,STATEN ISLAND,01/01/2024,01:40:00,01/01/2024,02:25:00,COMPLETED,(null),NaN,...,NaN,25-44,WHITE HISPANIC,F,949487.0,170512.0,40.634626,-74.125246,"(40.634626, -74.125246)",POINT (-74.125246 40.634626)
3,279780059,66,BROOKLYN,01/01/2024,00:02:00,01/01/2024,10:00:00,COMPLETED,(null),NaN,...,NaN,18-24,ASIAN / PACIFIC ISLANDER,M,982823.0,170508.0,40.634682,-74.005138,"(40.634682, -74.005138)",POINT (-74.005138 40.634682)
4,280014366,120,STATEN ISLAND,01/01/2024,22:50:00,01/01/2024,22:55:00,COMPLETED,(null),NaN,...,NaN,45-64,BLACK,F,958112.0,173521.0,40.642915,-74.094183,"(40.642915, -74.094183)",POINT (-74.094183 40.642915)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134634,284588555,111,QUEENS,03/31/2024,18:40:00,03/31/2024,18:50:00,COMPLETED,(null),NaN,...,NaN,25-44,WHITE,F,1052994.0,210216.0,40.743405,-73.751913,"(40.743405, -73.751913)",POINT (-73.751913 40.743405)
134635,284588545,101,QUEENS,03/31/2024,22:35:00,03/31/2024,22:38:00,COMPLETED,(null),NaN,...,23.0,UNKNOWN,UNKNOWN,E,1052559.0,159711.0,40.604783,-73.753998,"(40.60478281508588, -73.75399789247773)",POINT (-73.75399789247773 40.60478281508588)
134636,284640813,101,QUEENS,03/31/2024,20:20:00,03/31/2024,20:30:00,COMPLETED,(null),NaN,...,NaN,25-44,BLACK,F,1048993.0,158898.0,40.602580,-73.766846,"(40.60258, -73.766846)",POINT (-73.766846 40.60258)
134637,284721086,105,QUEENS,03/31/2024,00:30:00,03/31/2024,00:48:00,COMPLETED,(null),NaN,...,NaN,25-44,BLACK HISPANIC,M,1056470.0,181214.0,40.663775,-73.739681,"(40.663775, -73.739681)",POINT (-73.739681 40.663775)
134638,284584388,103,QUEENS,03/31/2024,17:50:00,03/31/2024,18:19:00,COMPLETED,(null),NaN,...,NaN,45-64,BLACK,F,1048515.0,198605.0,40.711570,-73.768190,"(40.71157, -73.76819)",POINT (-73.76819 40.71157)

In [3]:
import pandas as pd 
df = pd.read_csv('data/data.csv')
df = df['PD_DESC'] 
df

0           MISCHIEF, CRIMINAL 3 & 2, OF M
1           MISCHIEF, CRIMINAL 3 & 2, OF M
2           MISCHIEF, CRIMINAL 4, OF MOTOR
3                    LARCENY,GRAND OF AUTO
4         CRIMINAL MISCHIEF,UNCLASSIFIED 4
                        ...
134634                           ASSAULT 3
134635      THEFT OF SERVICES, UNCLASSIFIE
134636                           ASSAULT 3
134637               HARASSMENT,SUBD 3,4,5
134638                           ASSAULT 3
Name: PD_DESC, Length: 134639, dtype: object

In [4]:
import pandas as pd 
df = pd.read_csv('data/data.csv')
df = df['PD_DESC'].unique()
df

array(['MISCHIEF, CRIMINAL 3 & 2, OF M', 'MISCHIEF, CRIMINAL 4, OF MOTOR',
       'LARCENY,GRAND OF AUTO', 'CRIMINAL MISCHIEF,UNCLASSIFIED 4',
       'HARASSMENT,SUBD 1,CIVILIAN', 'FRAUD,UNCLASSIFIED-MISDEMEANOR',
       'SEXUAL ABUSE 3,2', 'LARCENY,PETIT FROM OPEN AREAS,',
       'LARCENY,PETIT FROM STORE-SHOPL', 'BURGLARY,COMMERCIAL,DAY',
       'TRAFFIC,UNCLASSIFIED MISDEMEAN', 'ASSAULT 2,1,UNCLASSIFIED',
       'LARCENY,PETIT FROM AUTO', 'CONTROLLED SUBSTANCE,POSSESS.',
       'LARCENY,GRAND BY THEFT OF CREDIT CARD',
       'LARCENY,GRAND BY FALSE PROMISE-NOT IN PERSON CONTACT',
       'VIOLATION OF ORDER OF PROTECTI', '(null)', 'STRANGULATION 1ST',
       'ROBBERY,PERSONAL ELECTRONIC DEVICE',
       'INTOXICATED DRIVING,ALCOHOL', 'BRIBERY,PUBLIC ADMINISTRATION',
       'AGGRAVATED HARASSMENT 2', 'MISCHIEF,CRIMINAL,    UNCL 2ND',
       'WEAPONS, POSSESSION, ETC', 'FORGERY,ETC.,UNCLASSIFIED-FELO',
       'LARCENY,GRAND FROM RESIDENCE, UNATTENDED',
       'LARCENY,GRAND FROM BUILDING (NON-RESIDENCE) UNATTENDED', 'RAPE 2',
       'NY STATE LAWS,UNCLASSIFIED FEL', 'RESISTING ARREST',
       'LARCENY, GRAND OF MOPED', 'OBSCENE MATERIAL - UNDER 17 YE',
       'BURGLARY,COMMERCIAL,NIGHT', 'ASSAULT POLICE/PEACE OFFICER',
       'LARCENY,PETIT OF LICENSE PLATE', 'LARCENY,GRAND BY ACQUIRING LOS',
       'PUBLIC HEALTH LAW,UNCLASSIFIED', 'SEXUAL MISCONDUCT,INTERCOURSE',
       'TRESPASS 3, CRIMINAL',
       'LARCENY,GRAND BY OPEN/COMPROMISE CELL PHONE ACCT',
       'LEAVING SCENE-ACCIDENT-PERSONA', 'BURGLARY,UNCLASSIFIED,NIGHT',
       'LARCENY,PETIT OF BICYCLE',
       'LARCENY,GRAND FROM OPEN AREAS, UNATTENDED',
       'LARCENY,GRAND FROM STORE-SHOPL',
       'LARCENY,GRAND FROM RESIDENCE/BUILDING,UNATTENDED, PACKAGE THEFT OUTSIDE',
       'LARCENY,GRAND BY BANK ACCT COMPROMISE-UNCLASSIFIED',
       'LARCENY,GRAND OF VEHICULAR/MOTORCYCLE ACCESSORIES',
       'LARCENY,PETIT FROM BUILDING,UNATTENDED, PACKAGE THEFT INSIDE',
       'LARCENY,PETIT BY FALSE PROMISE',
       'LARCENY,GRAND FROM PERSON,LUSH WORKER(SLEEPING/UNCON VICTIM)',
       'LARCENY,GRAND FROM NIGHT CLUB, UNATTENDED',
       'LARCENY,PETIT FROM BUILDING,UNATTENDED, PACKAGE THEFT OUTSIDE',
       'TRESPASS 1,CRIMINAL', 'OBSTR BREATH/CIRCUL',
       'MENACING,UNCLASSIFIED', 'MENACING 1ST DEGREE (VICT NOT',
       'N.Y.C. TRANSIT AUTH. R&R',
       'LARCENY,GRAND FROM PERSON,PERSONAL ELECTRONIC DEVICE(SNATCH)',
       'PUBLIC ADMINISTATION,UNCLASS M', 'BURGLARY,TRUCK NIGHT',
       'MENACING 1ST DEGREE (VICT PEAC', 'ROBBERY,DELIVERY PERSON',
       'LARCENY,GRAND BY ACQUIRING LOST CREDIT CARD',
       'LARCENY,GRAND FROM EATERY, UNATTENDED',
       'BURGLARY,RESIDENCE,UNKNOWN TIM', 'ASSAULT 3',
       'CONTROLLED SUBSTANCE, POSSESSI', 'CRIMINAL CONTEMPT 1',
       'AGGRAVATED HARASSMENT 1', 'HARASSMENT,SUBD 3,4,5',
       'LARCENY,GRAND FROM PERSON, BAG OPEN/DIP',
       'LARCENY,PETIT OF VEHICLE ACCES', 'CHILD, ENDANGERING WELFARE',
       'SODOMY 1', 'LARCENY,PETIT FROM BUILDING,UN', 'RAPE 1',
       'LARCENY,GRAND BY DISHONEST EMP', 'UNAUTHORIZED USE VEHICLE 3',
       'ARSON, MOTOR VEHICLE 1 2 3 & 4', 'FORGERY,ETC.-MISD.',
       'LARCENY,GRAND OF MOTORCYCLE', 'LARCENY,PETIT BY DISHONEST EMP',
       'ROBBERY,RESIDENTIAL COMMON AREA',
       'ROBBERY,COMMERCIAL UNCLASSIFIED', 'TRESPASS 2, CRIMINAL',
       'ROBBERY,DWELLING', 'LARCENY,GRAND FROM VEHICLE/MOTORCYCLE',
       'LARCENY,GRAND FROM RETAIL STORE, UNATTENDED',
       'LARCENY,PETIT BY CREDIT CARD U', 'CRIMINAL MISCHIEF 4TH, GRAFFIT',
       'RECKLESS ENDANGERMENT 2', 'LARCENY,GRAND FROM PERSON,PICK',
       'FRAUD,UNCLASSIFIED-FELONY', 'ABANDON ANIMAL',
       'ADM.CODE,UNCLASSIFIED MISDEMEA', 'ROBBERY,OPEN AREA UNCLASSIFIED',
       'SODOMY 3', 'ROBBERY,CAR JACKING', 'RAPE 3',
       'LARCENY,GRAND BY CREDIT CARD ACCT COMPROMISE-EXISTING ACCT',
       'LARCENY, GRAND OF AUTO - ATTEM', 'BURGLARY,RESIDENCE,DAY',
       'CONTROLLED SUBSTANCE, INTENT T', 'CONTEMPT,CRIMINAL',
       'LARCENY,GRAND BY BANK ACCT COMPROMISE-ATM TRANSACTION',
       'RECKLESS ENDANGERMENT 1', 'RECKLESS DRIVING',
       'LARCENY,PETIT BY ACQUIRING LOS', 'BURGLARY,COMMERCIAL,UNKNOWN TI',
       'THEFT OF SERVICES, UNCLASSIFIE', 'BURGLARY,RESIDENCE,NIGHT',
       'STOLEN PROPERTY 3,POSSESSION', 'RECKLESS ENDANGERMENT OF PROPE',
       'CANNABIS POSSESSION, 2&1', 'ROBBERY,POCKETBOOK/CARRIED BAG',
       'ROBBERY,NECKCHAIN/JEWELRY', 'ROBBERY,BICYCLE',
       'STOLEN PROPERTY 2,1,POSSESSION', 'GAMBLING 2,PROMOTING,UNCLASSIF',
       'NY STATE LAWS,UNCLASSIFIED MIS', 'FALSE REPORT UNCLASSIFIED',
       'CONTROLLED SUBSTANCE,INTENT TO', 'ROBBERY,BAR/RESTAURANT',
       'CUSTODIAL INTERFERENCE 1', 'TRESPASS 4,CRIMINAL SUB 2',
       'WEAPONS POSSESSION 3', 'CRIMINAL MIS 2 & 3',
       'ROBBERY,HOME INVASION', 'SEXUAL ABUSE',
       'ROBBERY,PUBLIC PLACE INSIDE', 'FALSE REPORT 1,FIRE',
       'COURSE OF SEXUAL CONDUCT AGAIN', 'MISCHIEF, CRIMINAL 4, BY FIRE',
       'CRIMINAL POSSESSION WEAPON', 'ARSON 2,3,4',
       'UNAUTHORIZED USE VEHICLE 2', 'PETIT LARCENY-CHECK FROM MAILB',
       'PETIT LARCENY OF ANIMAL', 'ROBBERY,BEGIN AS SHOPLIFTING',
       'MAKING TERRORISTIC THREAT', 'MATERIAL              OFFENSIV',
       'BURGLARS TOOLS,UNCLASSIFIED', 'CANNABIS POSSESSION',
       'AGGRAVATED CRIMINAL CONTEMPT', 'LARCENY,GRAND OF BICYCLE',
       'ALCOHOLIC BEVERAGE CONTROL LAW',
       'LARCENY,GRAND BY IDENTITY THEFT-UNCLASSIFIED',
       'LARCENY,GRAND BY OPEN CREDIT CARD (NEW ACCT)',
       'LARCENY, PETIT OF MOPED', 'LARCENY,GRAND BY EXTORTION',
       'FORGERY,DRIVERS LICENSE', 'RAPE 1,ATTEMPT',
       'FORGERY,M.V. REGISTRATION', 'SOLICITATION 4, CRIMINAL',
       'EXPOSURE OF A PERSON', 'LARCENY,GRAND FROM PERSON,PURS',
       'LEWDNESS,PUBLIC', 'ASSAULT OTHER PUBLIC SERVICE EMPLOYEE',
       'ESCAPE 3',
       'LARCENY,GRAND BY BANK ACCT COMPROMISE-REPRODUCED CHECK',
       'LARCENY,GRAND FROM RESIDENCE/BUILDING,UNATTENDED, PACKAGE THEFT INSIDE',
       'CONTROLLED SUBSTANCE,SALE 3',
       'LARCENY,GRAND BY BANK ACCT COMPROMISE-UNAUTHORIZED PURCHASE',
       'STOLEN PROPERTY-MOTOR VEH 2ND,', 'LARCENY,GRAND FROM PERSON,UNCL',
       'LARCENY,GRAND PERSON,NECK CHAI',
       'LARCENY,GRAND BY FALSE PROMISE-IN PERSON CONTACT',
       'CONTROLLED SUBSTANCE,SALE 1', 'BURGLARY,UNCLASSIFIED,DAY',
       'LARCENY,PETIT OF AUTO', 'AIRPOLLUTION', 'ROBBERY,CLOTHING',
       'UNAUTH. SALE OF TRANS. SERVICE',
       'LARCENY,GRAND BY OPEN BANK ACCT',
       'FORGERY-ILLEGAL POSSESSION,VEH', 'BRIBERY, POLICE OFFICER',
       'BAIL JUMPING 1 & 2', 'END WELFARE VULNERABLE ELDERLY PERSON',
       'ROBBERY,BANK', 'CONTROLLED SUBSTANCE, SALE 5', 'LURING A CHILD',
       'FORGERY,PRESCRIPTION', 'CONTROLLED SUBSTANCE, SALE 4',
       'NY STATE LAWS,UNCLASSIFIED VIO', 'ACCOSTING,FRAUDULENT',
       'LEAVING THE SCENE OF AN ACCIDENT (SPI)',
       'LARCENY,PETIT BY CHECK USE', 'BURGLARY,TRUCK DAY',
       'BAIL JUMPING 3', 'ROBBERY,LICENSED FOR HIRE VEHICLE',
       'SALE SCHOOL GROUNDS 4', 'TORTURE/INJURE ANIMAL CRUELTY',
       'TAMPERING 3,2, CRIMINAL', 'ROBBERY,GAS STATION',
       'IMPERSONATION 2, PUBLIC SERVAN', 'IMPRISONMENT 2,UNLAWFUL',
       'LARCENY,GRAND OF TRUCK', 'PUBLIC ADMINISTRATION,UNCLASSI',
       'ROBBERY,BODEGA/CONVENIENCE STORE', 'PROSTITUTION',
       'TAMPERING 1,CRIMINAL', 'TAX LAW', 'CUSTODIAL INTERFERENCE 2',
       'PUBLIC SAFETY,UNCLASSIFIED MIS', 'CONTROLLED SUBSTANCE,SALE 2',
       'BURGLARY,UNCLASSIFIED,UNKNOWN', 'THEFT,RELATED OFFENSES,UNCLASS',
       'ALCOHOLIC BEVERAGES,PUBLIC CON', 'LARCENY,PETIT FROM COIN MACHIN',
       'STOLEN PROPERTY 2,POSSESSION B', 'CAUSE SPI/KILL ANIMAL',
       'UNLAWFUL DISCLOSURE OF AN INTIMATE IMAGE',
       'NEGLECT/POISON ANIMAL', 'CONTROLLED SUBSTANCE,POSSESS.-',
       'ROBBERY,ATM LOCATION', 'LARCENY,PETIT FROM TRUCK',
       'MISCHIEF, CRIMINAL 3&2, BY FIR',
       'LARCENY,GRAND BY BANK ACCT COMPROMISE-TELLER',
       'CRIMINAL DISPOSAL FIREARM 1', 'LARCENY,PETIT OF MOTORCYCLE',
       'ROBBERY,HIJACKING', 'GAMBLING 1,PROMOTING,POLICY',
       'UNFINSH FRAME 2', 'BURGLARY, TRUCK UNKNOWN TIME',
       'DISORDERLY CONDUCT', 'LARCENY,GRAND OF BOAT', 'ROBBERY,PHARMACY',
       'INCOMPETENT PERSON,KNOWINGLY ENDANGERING',
       'ASSAULT TRAFFIC AGENT', 'RIOT 2/INCITING', 'CHILD ABANDONMENT',
       'RIOT 1', 'AGRICULTURE & MARKETS LAW,UNCL',
       'IMPRISONMENT 1,UNLAWFUL', 'UNLAWFUL POSS. WEAPON UPON SCH',
       'ESCAPE 2,1', 'MENACING,PEACE OFFICER',
       'ADM.CODE,UNCLASSIFIED VIOLATIO', 'ASSAULT SCHOOL SAFETY AGENT',
       'CANNABIS POSSESSION, 3', 'CANNABIS SALE, 3', 'FALSE REPORT BOMB',
       'MARIJUANA, SALE 4 & 5', 'COMPUTER UNAUTH. USE/TAMPER',
       'IMPAIRED DRIVING,DRUG', 'EDUCATION LAW', 'JOSTLING',
       'PROSTITUTION, PATRONIZING 4, 3', 'PARKR&R,UNCLASSIFIED VIOLATION',
       'ARSON 1', 'DRUG PARAPHERNALIA,   POSSESSE', 'CRIM POS WEAP 4',
       'FORTUNE TELLING', 'FALSE ALARM FIRE', 'LARCENY,PETIT FROM PIER',
       'CANNABIS SALE', 'PERJURY 3,ETC.', 'LARCENY,PETIT FROM BOAT',
       'EAVESDROPPING', 'ROBBERY, CHAIN STORE', 'KIDNAPPING 2',
       'FIREWORKS, SALE', 'COERCION 1', 'PROSTITUTION 3,PROMOTING BUSIN',
       'PROMOTING A SEXUAL PERFORMANCE', 'COMPUTER TAMPER/TRESSPASS',
       'VEHICULAR ASSAULT (INTOX DRIVE', 'ROBBERY,LIQUOR STORE',
       'MARIJUANA, POSSESSION 4 & 5', 'AGGRAVATED SEXUAL ASBUSE',
       'IMITATION PISTOL/AIR RIFLE', 'IMPERSONATION 1, POLICE OFFICE',
       'GAMBLING, DEVICE, POSSESSION', 'HOMICIDE,NEGLIGENT,UNCLASSIFIE',
       'LARCENY,GRAND FROM TRUCK, UNATTENDED', 'CANNABIS SALE, 2&1',
       'SEXUAL MISCONDUCT,DEVIATE', 'DRUG, INJECTION OF',
       'LARCENY,GRAND FROM PIER, UNATTENDED', 'SUPP. ACT TERR 2ND',
       'CHECK,BAD', 'GAMBLING 2, PROMOTING, POLICY-', 'NOISE,UNECESSARY',
       'PRIVACY,OFFENSES AGAINST,UNCLA', 'POSSES OR CARRY A KNIFE',
       'EDUCATION LAW,UNCLASSIFIED',
       'INCOMPETENT PERSON,RECKLESSY ENDANGERING', 'DIS. CON.,AGGRAVATED',
       'POSTING ADVERTISEMENTS', 'ROBBERY,OF TRUCK DRIVER',
       'ROBBERY,UNLICENSED FOR HIRE VEHICLE',
       'ROBBERY,LICENSED MEDALLION CAB', 'GAMBLING 2, PROMOTING, BOOKMAK',
       'PROSTITUTION 1, UNDER 11', 'CHILD,OFFENSES AGAINST,UNCLASS',
       'STOLEN PROP-MOTOR VEHICLE 3RD,', 'COERCION 2',
       'ROBBERY,CHECK CASHING BUSINESS', 'RECORDS,FALSIFY-TAMPER',
       'TERRORISM PROVIDE SUPPORT', 'PEDDLING,UNLAWFUL',
       'MARIJUANA, POSSESSION', 'GENERAL BUSINESS LAW,TICKET SP',
       'NUISANCE, CRIMINAL', 'NUISANCE,CRIMINAL,UNCLASSIFIED',
       'CONFINING ANIMAL IN VEHICLE/SHELTER', 'CONSPIRACY 4, 3',
       'PROSTITUTION,PERMITTING', 'USE OF A CHILD IN A SEXUAL PER',
       'BRIBERY,FRAUD', 'ROBBERY,ON BUS/ OR BUS DRIVER',
       'OBSCENITY, MATERIAL 3', 'OBSCENITY 1',
       'MISCHIEF 1,CRIMINAL,EXPLOSIVE', 'GAMBLING 1,PROMOTING,BOOKMAKIN',
       'STALKING COMMIT SEX OFFENSE', 'SEX TRAFFICKING',
       'LARCENY, PETIT OF AUTO - ATTEM',
       'LARCENY,GRAND FROM BOAT, UNATTENDED', 'KIDNAPPING 1',
       'ABSCONDING FROM WORK RELEASE 2'], dtype=object)

In [5]:
import pandas as pd 
df = pd.read_csv('data/data.csv')
df = df [df.OFNS_DESC == 'GRAND LARCENY']
df

,CMPLNT_NUM,ADDR_PCT_CD,BORO_NM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,CRM_ATPT_CPTD_CD,HADEVELOPT,HOUSING_PSA,...,TRANSIT_DISTRICT,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lat_Lon,New Georeferenced Column
26,279792819,1,MANHATTAN,01/01/2024,20:00:00,01/01/2024,20:20:00,COMPLETED,(null),NaN,...,NaN,45-64,WHITE,F,982972.0,201285.0,40.719160,-74.004609,"(40.71916, -74.004609)",POINT (-74.004609 40.71916)
30,280023723,62,BROOKLYN,01/01/2024,21:00:00,01/03/2024,21:00:00,COMPLETED,(null),NaN,...,NaN,18-24,ASIAN / PACIFIC ISLANDER,M,982427.0,160876.0,40.608244,-74.006564,"(40.608244, -74.006564)",POINT (-74.006564 40.608244)
52,283413921,6,MANHATTAN,01/01/2024,10:00:00,02/20/2024,10:00:00,COMPLETED,(null),NaN,...,NaN,45-64,WHITE,M,983045.0,207984.0,40.737546,-74.004348,"(40.737546, -74.004348)",POINT (-74.004348 40.737546)
53,279932191,84,BROOKLYN,01/01/2024,20:00:00,01/01/2024,20:30:00,COMPLETED,(null),NaN,...,NaN,25-44,ASIAN / PACIFIC ISLANDER,F,986576.0,195498.0,40.703275,-73.991609,"(40.703275, -73.991609)",POINT (-73.991609 40.703275)
69,279837268,13,MANHATTAN,01/01/2024,19:32:00,01/02/2024,19:52:00,COMPLETED,(null),NaN,...,NaN,25-44,WHITE,M,987139.0,209443.0,40.741549,-73.989574,"(40.7415487560939, -73.98957446267117)",POINT (-73.98957446267117 40.7415487560939)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134538,284618935,49,BRONX,03/31/2024,21:30:00,04/01/2024,10:00:00,COMPLETED,(null),NaN,...,NaN,25-44,WHITE HISPANIC,F,1020912.0,253456.0,40.862279,-73.867454,"(40.862279, -73.867454)",POINT (-73.867454 40.862279)
134594,286793682,45,BRONX,03/31/2024,08:00:00,04/11/2024,08:00:00,COMPLETED,(null),NaN,...,NaN,65+,WHITE,M,1032657.0,243043.0,40.833641,-73.825072,"(40.833641, -73.825072)",POINT (-73.825072 40.833641)
134602,284593924,109,QUEENS,03/31/2024,20:00:00,03/31/2024,23:35:00,COMPLETED,(null),NaN,...,NaN,25-44,ASIAN / PACIFIC ISLANDER,M,1030097.0,214178.0,40.754428,-73.834519,"(40.754428, -73.834519)",POINT (-73.834519 40.754428)
134617,284582619,109,QUEENS,03/31/2024,12:30:00,03/31/2024,13:00:00,COMPLETED,(null),NaN,...,NaN,45-64,BLACK,F,1029817.0,225770.0,40.786247,-73.835448,"(40.786247, -73.835448)",POINT (-73.835448 40.786247)
134631,284573381,102,QUEENS,03/31/2024,03:00:00,03/31/2024,10:00:00,COMPLETED,(null),NaN,...,NaN,25-44,WHITE HISPANIC,M,1024705.0,192240.0,40.694239,-73.854110,"(40.694239, -73.85411)",POINT (-73.85411 40.694239)

In [6]:
df = df[df['SUSP_SEX'] == 'M']
df

,CMPLNT_NUM,ADDR_PCT_CD,BORO_NM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,CRM_ATPT_CPTD_CD,HADEVELOPT,HOUSING_PSA,...,TRANSIT_DISTRICT,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lat_Lon,New Georeferenced Column
52,283413921,6,MANHATTAN,01/01/2024,10:00:00,02/20/2024,10:00:00,COMPLETED,(null),NaN,...,NaN,45-64,WHITE,M,983045.0,207984.0,40.737546,-74.004348,"(40.737546, -74.004348)",POINT (-74.004348 40.737546)
69,279837268,13,MANHATTAN,01/01/2024,19:32:00,01/02/2024,19:52:00,COMPLETED,(null),NaN,...,NaN,25-44,WHITE,M,987139.0,209443.0,40.741549,-73.989574,"(40.7415487560939, -73.98957446267117)",POINT (-73.98957446267117 40.7415487560939)
97,279794235,1,MANHATTAN,01/01/2024,21:31:00,01/01/2024,21:48:00,COMPLETED,(null),NaN,...,NaN,UNKNOWN,UNKNOWN,D,981077.0,199627.0,40.714608,-74.011443,"(40.714608, -74.011443)",POINT (-74.011443 40.714608)
158,279791339,1,MANHATTAN,01/01/2024,18:51:00,01/01/2024,18:52:00,COMPLETED,(null),NaN,...,NaN,UNKNOWN,UNKNOWN,D,982809.0,199951.0,40.715498,-74.005198,"(40.715498, -74.005198)",POINT (-74.005198 40.715498)
171,279764532,10,MANHATTAN,01/01/2024,01:38:00,01/01/2024,01:40:00,COMPLETED,(null),NaN,...,NaN,UNKNOWN,UNKNOWN,D,984473.0,210451.0,40.744319,-73.999194,"(40.744319, -73.999194)",POINT (-73.999194 40.744319)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134214,284579924,115,QUEENS,03/31/2024,13:00:00,03/31/2024,13:10:00,COMPLETED,(null),NaN,...,NaN,65+,WHITE HISPANIC,F,1016175.0,212432.0,40.749698,-73.884776,"(40.749698, -73.884776)",POINT (-73.884776 40.749698)
134314,284567821,67,BROOKLYN,03/31/2024,07:00:00,03/31/2024,07:04:00,COMPLETED,(null),NaN,...,NaN,45-64,BLACK,M,1004025.0,180814.0,40.662950,-73.928720,"(40.66295, -73.92872)",POINT (-73.92872 40.66295)
134335,284588854,109,QUEENS,03/31/2024,18:41:00,03/31/2024,18:45:00,COMPLETED,(null),NaN,...,NaN,45-64,ASIAN / PACIFIC ISLANDER,M,1030911.0,215210.0,40.757257,-73.831574,"(40.757257, -73.831574)",POINT (-73.831574 40.757257)
134450,284658787,103,QUEENS,03/31/2024,17:15:00,03/31/2024,17:17:00,COMPLETED,(null),NaN,...,NaN,UNKNOWN,UNKNOWN,D,1039793.0,195660.0,40.703546,-73.799675,"(40.703546, -73.799675)",POINT (-73.799675 40.703546)
134594,286793682,45,BRONX,03/31/2024,08:00:00,04/11/2024,08:00:00,COMPLETED,(null),NaN,...,NaN,65+,WHITE,M,1032657.0,243043.0,40.833641,-73.825072,"(40.833641, -73.825072)",POINT (-73.825072 40.833641)

In [7]:
df = df[df['VIC_SEX'] == 'F']
df

,CMPLNT_NUM,ADDR_PCT_CD,BORO_NM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,CRM_ATPT_CPTD_CD,HADEVELOPT,HOUSING_PSA,...,TRANSIT_DISTRICT,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lat_Lon,New Georeferenced Column
540,279780073,70,BROOKLYN,01/01/2024,12:10:00,01/01/2024,12:19:00,COMPLETED,(null),NaN,...,NaN,18-24,BLACK,F,999359.0,169275.0,40.631284,-73.945564,"(40.631284, -73.945564)",POINT (-73.945564 40.631284)
649,280690826,115,QUEENS,01/01/2024,09:45:00,NaN,(null),COMPLETED,(null),NaN,...,NaN,25-44,WHITE,F,1018623.0,214936.0,40.756568,-73.875932,"(40.7565675846374, -73.8759315341335)",POINT (-73.8759315341335 40.7565675846374)
818,279820541,83,BROOKLYN,01/01/2024,19:00:00,01/01/2024,19:30:00,COMPLETED,(null),NaN,...,NaN,18-24,BLACK HISPANIC,F,1006423.0,195590.0,40.703499,-73.920029,"(40.703499, -73.920029)",POINT (-73.920029 40.703499)
933,279780141,104,QUEENS,01/01/2024,05:45:00,01/01/2024,05:50:00,COMPLETED,(null),NaN,...,NaN,18-24,WHITE,F,1008918.0,194147.0,40.699531,-73.911037,"(40.699531014673724, -73.91103665226316)",POINT (-73.91103665226316 40.699531014673724)
936,284846908,101,QUEENS,01/01/2024,07:00:00,01/03/2024,07:00:00,COMPLETED,(null),NaN,...,NaN,18-24,WHITE HISPANIC,F,1052603.0,159209.0,40.603406,-73.753843,"(40.603406, -73.753843)",POINT (-73.753843 40.603406)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133879,284707168,18,MANHATTAN,03/31/2024,14:10:00,03/31/2024,14:48:00,COMPLETED,(null),NaN,...,1.0,25-44,WHITE,F,988451.0,217993.0,40.765024,-73.984836,"(40.7650240788333, -73.9848359497083)",POINT (-73.9848359497083 40.7650240788333)
133984,284582610,88,BROOKLYN,03/31/2024,02:55:00,03/31/2024,03:05:00,COMPLETED,(null),NaN,...,NaN,25-44,WHITE,F,992210.0,193527.0,40.697862,-73.971291,"(40.697862, -73.971291)",POINT (-73.971291 40.697862)
134091,284571716,46,BRONX,03/31/2024,01:30:00,03/31/2024,01:35:00,COMPLETED,(null),NaN,...,NaN,18-24,BLACK HISPANIC,F,1011256.0,251003.0,40.855580,-73.902376,"(40.85558, -73.902376)",POINT (-73.902376 40.85558)
134189,284582575,46,BRONX,03/31/2024,17:00:00,03/31/2024,17:09:00,COMPLETED,(null),NaN,...,NaN,25-44,BLACK HISPANIC,F,1012087.0,251300.0,40.856394,-73.899369,"(40.856394, -73.899369)",POINT (-73.899369 40.856394)
134214,284579924,115,QUEENS,03/31/2024,13:00:00,03/31/2024,13:10:00,COMPLETED,(null),NaN,...,NaN,65+,WHITE HISPANIC,F,1016175.0,212432.0,40.749698,-73.884776,"(40.749698, -73.884776)",POINT (-73.884776 40.749698)