In [1]:
import pandas as pd
# filtering data
df = pd.read_csv("data/data.csv")
df = df[df.BORO_NM == "MANHATTAN"]
df

,CMPLNT_NUM,ADDR_PCT_CD,BORO_NM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,CRM_ATPT_CPTD_CD,HADEVELOPT,HOUSING_PSA,...,TRANSIT_DISTRICT,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lat_Lon,New Georeferenced Column
16,279769488,1,MANHATTAN,01/01/2024,06:49:00,01/01/2024,06:50:00,COMPLETED,(null),NaN,...,NaN,UNKNOWN,UNKNOWN,D,984004.0,202748.0,40.723175,-74.000886,"(40.723175, -74.000886)",POINT (-74.000886 40.723175)
21,279799762,1,MANHATTAN,01/01/2024,15:30:00,01/01/2024,15:45:00,COMPLETED,(null),NaN,...,NaN,25-44,ASIAN / PACIFIC ISLANDER,M,983665.0,203595.0,40.725499,-74.002108,"(40.725499, -74.002108)",POINT (-74.002108 40.725499)
26,279792819,1,MANHATTAN,01/01/2024,20:00:00,01/01/2024,20:20:00,COMPLETED,(null),NaN,...,NaN,45-64,WHITE,F,982972.0,201285.0,40.719160,-74.004609,"(40.71916, -74.004609)",POINT (-74.004609 40.71916)
34,279768924,5,MANHATTAN,01/01/2024,03:20:00,01/01/2024,03:50:00,COMPLETED,(null),NaN,...,NaN,45-64,ASIAN / PACIFIC ISLANDER,F,982707.0,199340.0,40.713820,-74.005564,"(40.71382, -74.005564)",POINT (-74.005564 40.71382)
38,279968161,6,MANHATTAN,01/01/2024,01:00:00,01/01/2024,01:05:00,COMPLETED,(null),NaN,...,NaN,18-24,WHITE,F,983697.0,206596.0,40.733736,-74.001995,"(40.733736, -74.001995)",POINT (-74.001995 40.733736)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134355,284575674,25,MANHATTAN,03/31/2024,10:12:00,03/31/2024,11:40:00,COMPLETED,(null),NaN,...,NaN,18-24,WHITE HISPANIC,F,1003638.0,226954.0,40.789593,-73.929984,"(40.789593, -73.929984)",POINT (-73.929984 40.789593)
134358,284578316,25,MANHATTAN,03/31/2024,10:12:00,03/31/2024,11:40:00,COMPLETED,(null),NaN,...,NaN,25-44,WHITE HISPANIC,F,1003638.0,226954.0,40.789593,-73.929984,"(40.789593, -73.929984)",POINT (-73.929984 40.789593)
134366,284655664,25,MANHATTAN,03/31/2024,08:25:00,03/31/2024,08:35:00,COMPLETED,(null),NaN,...,NaN,45-64,WHITE HISPANIC,M,1003638.0,226954.0,40.789593,-73.929984,"(40.789593, -73.929984)",POINT (-73.929984 40.789593)
134375,284718006,34,MANHATTAN,03/31/2024,20:00:00,03/31/2024,20:30:00,COMPLETED,(null),NaN,...,NaN,18-24,WHITE,M,1006101.0,253200.0,40.861624,-73.921003,"(40.861624, -73.921003)",POINT (-73.921003 40.861624)
134428,284852416,34,MANHATTAN,03/31/2024,07:00:00,03/31/2024,17:07:00,COMPLETED,(null),NaN,...,NaN,UNKNOWN,UNKNOWN,D,1007617.0,256301.0,40.870131,-73.915509,"(40.870131, -73.915509)",POINT (-73.915509 40.870131)