In [29]:
import pandas as pd
df = pd.read_csv("data/data.csv")
df = df[df.BORO_NM == "MANHATTAN"]
df

,CMPLNT_NUM,ADDR_PCT_CD,BORO_NM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,CRM_ATPT_CPTD_CD,HADEVELOPT,JURIS_DESC,...,PARKS_NM,PD_CD,PD_DESC,PREM_TYP_DESC,RPT_DT,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lat_Lon
0,286159230,24,MANHATTAN,01/01/2016,15:00:00,01/01/2018,23:00:00,COMPLETED,(null),N.Y. HOUSING POLICE,...,(null),168,SODOMY 1,RESIDENCE - PUBLIC HOUSING,05/01/2024,993369,229307,40.796074,-73.967067,"(40.7960743128304, -73.9670667458109)"
1,284390764,13,MANHATTAN,01/01/2016,12:00:00,03/26/2024,12:00:00,COMPLETED,(null),N.Y. POLICE DEPT,...,(null),638,"HARASSMENT,SUBD 3,4,5",RESIDENCE - APT. HOUSE,03/26/2024,989439,206297,40.732914,-73.981276,"(40.732914, -73.981276)"
2,282326671,28,MANHATTAN,01/10/2016,12:00:00,01/10/2016,12:00:00,COMPLETED,(null),N.Y. POLICE DEPT,...,(null),349,"LARCENY,PETIT OF LICENSE PLATE",OTHER,02/16/2024,1002583,229363,40.796206,-73.933787,"(40.796206, -73.933787)"
3,281045110,23,MANHATTAN,01/25/2016,00:01:00,NaN,(null),COMPLETED,(null),N.Y. HOUSING POLICE,...,(null),847,"NY STATE LAWS,UNCLASSIFIED FEL",RESIDENCE - PUBLIC HOUSING,01/24/2024,998746,230395,40.799045,-73.947642,"(40.799045, -73.947642)"
4,282616059,5,MANHATTAN,05/11/2016,09:30:00,05/11/2016,10:00:00,COMPLETED,(null),N.Y. POLICE DEPT,...,(null),764,BAIL JUMPING 1 & 2,OTHER,02/22/2024,983903,200257,40.716337,-74.001251,"(40.716337, -74.001251)"
5,283299802,24,MANHATTAN,06/01/2016,15:33:00,06/01/2016,15:33:00,COMPLETED,(null),N.Y. POLICE DEPT,...,(null),175,"SEXUAL ABUSE 3,2",STREET,03/06/2024,993369,229307,40.796074,-73.967067,"(40.7960743128304, -73.9670667458109)"
6,285354060,18,MANHATTAN,06/01/2016,17:00:00,03/01/2024,17:00:00,COMPLETED,(null),N.Y. POLICE DEPT,...,(null),437,"LARCENY,GRAND BY FALSE PROMISE-IN PERSON CONTACT",RESIDENCE - APT. HOUSE,04/13/2024,987881,218461,40.766303,-73.986891,"(40.766303, -73.986891)"
7,283173106,28,MANHATTAN,06/21/2016,01:56:00,06/21/2016,02:00:00,COMPLETED,(null),N.Y. POLICE DEPT,...,(null),109,"ASSAULT 2,1,UNCLASSIFIED",RESIDENCE - APT. HOUSE,02/09/2024,998177,232402,40.804556,-73.949693,"(40.804556, -73.949693)"
8,285539608,30,MANHATTAN,07/24/2016,00:01:00,07/23/2017,23:59:00,COMPLETED,(null),N.Y. POLICE DEPT,...,(null),175,"SEXUAL ABUSE 3,2",RESIDENCE - APT. HOUSE,04/18/2024,999790,241169,40.828623,-73.943849,"(40.8286232400477, -73.9438488369889)"
9,281731995,14,MANHATTAN,10/01/2016,00:00:00,09/10/2019,23:59:00,COMPLETED,(null),DISTRICT ATTORNEY OFFICE,...,(null),407,"LARCENY,GRAND BY DISHONEST EMP",COMMERCIAL BUILDING,02/06/2024,989671,210855,40.745425,-73.980434,"(40.745425, -73.980434)"
10,284167496,34,MANHATTAN,12/01/2016,00:01:00,12/31/2016,23:59:00,COMPLETED,(null),N.Y. POLICE DEPT,...,(null),175,"SEXUAL ABUSE 3,2",RESIDENCE - APT. HOUSE,03/22/2024,1002173,249401,40.851213,-73.935216,"(40.8512131676868, -73.9352160519866)"

In [1]:
#filtering the data for grand larceny crimes and sorting by location type
import pandas as pd
df = pd.read_csv("data/data.csv")
grand_larceny_crimes = df[df['OFNS_DESC'] == 'GRAND LARCENY']
grand_larceny_crimes = grand_larceny_crimes.sort_values("PREM_TYP_DESC")
grand_larceny_crimes

,CMPLNT_NUM,ADDR_PCT_CD,BORO_NM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,CRM_ATPT_CPTD_CD,HADEVELOPT,HOUSING_PSA,...,TRANSIT_DISTRICT,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lat_Lon,New Georeferenced Column
134631,284573381,102,QUEENS,03/31/2024,03:00:00,03/31/2024,10:00:00,COMPLETED,(null),NaN,...,NaN,25-44,WHITE HISPANIC,M,1024705.0,192240.0,40.694239,-73.854110,"(40.694239, -73.85411)",POINT (-73.85411 40.694239)
56342,281846743,34,MANHATTAN,02/07/2024,07:25:00,02/07/2024,17:45:00,COMPLETED,(null),NaN,...,NaN,45-64,BLACK HISPANIC,M,1004500.0,250318.0,40.853717,-73.926801,"(40.853716743322245, -73.92680055932782)",POINT (-73.92680055932782 40.853716743322245)
61918,282162405,9,MANHATTAN,02/11/2024,02:00:00,02/11/2024,02:20:00,COMPLETED,(null),NaN,...,NaN,25-44,WHITE,M,988155.0,205607.0,40.731019,-73.985910,"(40.73101949347323, -73.98591024906224)",POINT (-73.98591024906224 40.73101949347323)
22337,280604660,84,BROOKLYN,01/16/2024,15:06:00,01/16/2024,15:12:00,COMPLETED,(null),NaN,...,NaN,UNKNOWN,UNKNOWN,D,988174.0,190975.0,40.690859,-73.985848,"(40.690859, -73.985848)",POINT (-73.985848 40.690859)
35074,282203060,13,MANHATTAN,01/25/2024,08:00:00,02/13/2024,15:00:00,COMPLETED,(null),NaN,...,NaN,UNKNOWN,UNKNOWN,D,987314.0,210395.0,40.744164,-73.988940,"(40.744164, -73.98894)",POINT (-73.98894 40.744164)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33067,280965247,114,QUEENS,01/23/2024,09:30:00,01/23/2024,10:00:00,COMPLETED,(null),NaN,...,NaN,25-44,WHITE HISPANIC,M,1004016.0,217139.0,40.762652,-73.928644,"(40.762652, -73.928644)",POINT (-73.928644 40.762652)
109085,283877234,48,BRONX,03/14/2024,15:10:00,03/16/2024,15:42:00,COMPLETED,(null),NaN,...,NaN,25-44,BLACK,F,1014161.0,247438.0,40.845787,-73.891891,"(40.845787, -73.891891)",POINT (-73.891891 40.845787)
31371,280929080,41,BRONX,01/22/2024,18:05:00,01/22/2024,18:10:00,COMPLETED,(null),NaN,...,NaN,45-64,ASIAN / PACIFIC ISLANDER,F,1014216.0,238783.0,40.822031,-73.891729,"(40.822031, -73.891729)",POINT (-73.891729 40.822031)
66192,282385834,52,BRONX,02/14/2024,12:00:00,02/14/2024,18:00:00,COMPLETED,(null),NaN,...,NaN,65+,WHITE,F,1016782.0,260543.0,40.881746,-73.882354,"(40.881746, -73.882354)",POINT (-73.882354 40.881746)
65733,282228602,78,BROOKLYN,02/14/2024,13:20:00,02/14/2024,13:30:00,COMPLETED,(null),NaN,...,NaN,45-64,BLACK,F,991224.0,188218.0,40.683291,-73.974852,"(40.683291, -73.974852)",POINT (-73.974852 40.683291)

In [1]:
import pandas as pd
df = pd.read_csv("data/data.csv")
grand_larceny_crimes = df[df['OFNS_DESC'] == 'GRAND LARCENY']
grand_larceny_crimes = grand_larceny_crimes.sort_values("PREM_TYP_DESC")
grand_larceny_crimes

,CMPLNT_NUM,ADDR_PCT_CD,BORO_NM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,CRM_ATPT_CPTD_CD,HADEVELOPT,HOUSING_PSA,...,TRANSIT_DISTRICT,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lat_Lon,New Georeferenced Column
134631,284573381,102,QUEENS,03/31/2024,03:00:00,03/31/2024,10:00:00,COMPLETED,(null),NaN,...,NaN,25-44,WHITE HISPANIC,M,1024705.0,192240.0,40.694239,-73.854110,"(40.694239, -73.85411)",POINT (-73.85411 40.694239)
56342,281846743,34,MANHATTAN,02/07/2024,07:25:00,02/07/2024,17:45:00,COMPLETED,(null),NaN,...,NaN,45-64,BLACK HISPANIC,M,1004500.0,250318.0,40.853717,-73.926801,"(40.853716743322245, -73.92680055932782)",POINT (-73.92680055932782 40.853716743322245)
61918,282162405,9,MANHATTAN,02/11/2024,02:00:00,02/11/2024,02:20:00,COMPLETED,(null),NaN,...,NaN,25-44,WHITE,M,988155.0,205607.0,40.731019,-73.985910,"(40.73101949347323, -73.98591024906224)",POINT (-73.98591024906224 40.73101949347323)
22337,280604660,84,BROOKLYN,01/16/2024,15:06:00,01/16/2024,15:12:00,COMPLETED,(null),NaN,...,NaN,UNKNOWN,UNKNOWN,D,988174.0,190975.0,40.690859,-73.985848,"(40.690859, -73.985848)",POINT (-73.985848 40.690859)
35074,282203060,13,MANHATTAN,01/25/2024,08:00:00,02/13/2024,15:00:00,COMPLETED,(null),NaN,...,NaN,UNKNOWN,UNKNOWN,D,987314.0,210395.0,40.744164,-73.988940,"(40.744164, -73.98894)",POINT (-73.98894 40.744164)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33067,280965247,114,QUEENS,01/23/2024,09:30:00,01/23/2024,10:00:00,COMPLETED,(null),NaN,...,NaN,25-44,WHITE HISPANIC,M,1004016.0,217139.0,40.762652,-73.928644,"(40.762652, -73.928644)",POINT (-73.928644 40.762652)
109085,283877234,48,BRONX,03/14/2024,15:10:00,03/16/2024,15:42:00,COMPLETED,(null),NaN,...,NaN,25-44,BLACK,F,1014161.0,247438.0,40.845787,-73.891891,"(40.845787, -73.891891)",POINT (-73.891891 40.845787)
31371,280929080,41,BRONX,01/22/2024,18:05:00,01/22/2024,18:10:00,COMPLETED,(null),NaN,...,NaN,45-64,ASIAN / PACIFIC ISLANDER,F,1014216.0,238783.0,40.822031,-73.891729,"(40.822031, -73.891729)",POINT (-73.891729 40.822031)
66192,282385834,52,BRONX,02/14/2024,12:00:00,02/14/2024,18:00:00,COMPLETED,(null),NaN,...,NaN,65+,WHITE,F,1016782.0,260543.0,40.881746,-73.882354,"(40.881746, -73.882354)",POINT (-73.882354 40.881746)
65733,282228602,78,BROOKLYN,02/14/2024,13:20:00,02/14/2024,13:30:00,COMPLETED,(null),NaN,...,NaN,45-64,BLACK,F,991224.0,188218.0,40.683291,-73.974852,"(40.683291, -73.974852)",POINT (-73.974852 40.683291)