In [21]:
# import pandas as pd
# import sqlite3

# con = sqlite3.connect("data/nba.sqlite")
# df = pd.read_sql_query("SELECT * from game LIMIT 100", con)
# df

# print("Sample Games Data:")
# print(games.head())

# # Load all active players into a DataFrame
# active_players = pd.read_sql_query("SELECT full_name FROM player WHERE is_active=TRUE", con)
# print("Active Players:")
# print(active_players.head())

# # Step 1: Find the most recent season
# recent_season = pd.read_sql_query("SELECT MAX(season) AS recent_season FROM game", con)
# print(f"Most Recent Season: {recent_season.iloc[0, 0]}")

# # Step 2: Get all teams for the most recent season
# teams = pd.read_sql_query(f"""
#     SELECT DISTINCT t.team_name 
#     FROM team t
#     JOIN game g ON g.home_team_id = t.team_id OR g.away_team_id = t.team_id
#     WHERE g.season = {recent_season.iloc[0, 0]}
#     """, con)
# print("Teams in the Most Recent Season:")
# print(teams)

# # Select a team (you can pick any team from the list printed above)
# team_name = 'Chosen_Team_Name'  # Replace this with the actual team name

# # Step 3: Get Home Game Scores for the Chosen Team
# home_games = pd.read_sql_query(f"""
#     SELECT g.game_id, g.home_team_id, g.home_team_score 
#     FROM game g
#     JOIN team t ON g.home_team_id = t.team_id
#     WHERE t.team_name = '{team_name}' AND g.season = {recent_season.iloc[0, 0]}
#     """, con)

# # Step 4: Get Away Game Scores for the Chosen Team
# away_games = pd.read_sql_query(f"""
#     SELECT g.game_id, g.away_team_id, g.away_team_score
#     FROM game g
#     JOIN team t ON g.away_team_id = t.team_id
#     WHERE t.team_name = '{team_name}' AND g.season = {recent_season.iloc[0, 0]}
#     """, con)

# # Step 5: Calculate the Average Home and Away Scores
# home_avg_score = home_games['home_team_score'].mean()
# away_avg_score = away_games['away_team_score'].mean()

# print(f"Average Home Score for {team_name}: {home_avg_score}")
# print(f"Average Away Score for {team_name}: {away_avg_score}")

In [22]:
import pandas as pd
import sqlite3

con = sqlite3.connect("data/nba.sqlite")
games = pd.read_sql_query("SELECT * FROM game LIMIT 100", con)
active_players = pd.read_sql_query("SELECT full_name FROM player WHERE is_active=TRUE", con)

In [23]:
import pandas as pd
import sqlite3

con = sqlite3.connect("data/nba.sqlite")
df = pd.read_sql_query("SELECT * from game LIMIT 100", con)
df

print("Sample Games Data:")
print(games.head())

Sample Games Data:
  season_id team_id_home team_abbreviation_home           team_name_home  \
0     21946   1610610035                    HUS          Toronto Huskies
1     21946   1610610034                    BOM        St. Louis Bombers
2     21946   1610610032                    PRO  Providence Steamrollers
3     21946   1610610025                    CHS            Chicago Stags
4     21946   1610610028                    DEF          Detroit Falcons

      game_id            game_date matchup_home wl_home  min  fgm_home  ...  \
0  0024600001  1946-11-01 00:00:00  HUS vs. NYK       L    0      25.0  ...
1  0024600003  1946-11-02 00:00:00  BOM vs. PIT       W    0      20.0  ...
2  0024600002  1946-11-02 00:00:00  PRO vs. BOS       W    0      21.0  ...
3  0024600004  1946-11-02 00:00:00  CHS vs. NYK       W    0      21.0  ...
4  0024600005  1946-11-02 00:00:00  DEF vs. WAS       L    0      10.0  ...

   reb_away  ast_away stl_away blk_away tov_away  pf_away  pts_away  \
0      None      None     None     None     None      NaN      68.0
1      None      None     None     None     None     25.0      51.0
2      None      None     None     None     None      NaN      53.0
3      None      None     None     None     None     22.0      47.0
4      None      None     None     None     None      NaN      50.0

   plus_minus_away video_available_away     season_type
0                2                    0  Regular Season
1               -5                    0  Regular Season
2               -6                    0  Regular Season
3              -16                    0  Regular Season
4               17                    0  Regular Season

[5 rows x 55 columns]

In [25]:
import pandas as pd
import sqlite3

# Connect to the SQLite database
con = sqlite3.connect("data/nba.sqlite")

# Read the first 100 rows from the "game" table
df = pd.read_sql_query("SELECT * from game LIMIT 100", con)

# Display column names
print("Column names:", df.columns)

# Display the first few rows of the data
print("Sample Games Data:")
print(df.head())

Column names: Index(['season_id', 'team_id_home', 'team_abbreviation_home', 'team_name_home',
       'game_id', 'game_date', 'matchup_home', 'wl_home', 'min', 'fgm_home',
       'fga_home', 'fg_pct_home', 'fg3m_home', 'fg3a_home', 'fg3_pct_home',
       'ftm_home', 'fta_home', 'ft_pct_home', 'oreb_home', 'dreb_home',
       'reb_home', 'ast_home', 'stl_home', 'blk_home', 'tov_home', 'pf_home',
       'pts_home', 'plus_minus_home', 'video_available_home', 'team_id_away',
       'team_abbreviation_away', 'team_name_away', 'matchup_away', 'wl_away',
       'fgm_away', 'fga_away', 'fg_pct_away', 'fg3m_away', 'fg3a_away',
       'fg3_pct_away', 'ftm_away', 'fta_away', 'ft_pct_away', 'oreb_away',
       'dreb_away', 'reb_away', 'ast_away', 'stl_away', 'blk_away', 'tov_away',
       'pf_away', 'pts_away', 'plus_minus_away', 'video_available_away',
       'season_type'],
      dtype='object')
Sample Games Data:
  season_id team_id_home team_abbreviation_home           team_name_home  \
0     21946   1610610035                    HUS          Toronto Huskies
1     21946   1610610034                    BOM        St. Louis Bombers
2     21946   1610610032                    PRO  Providence Steamrollers
3     21946   1610610025                    CHS            Chicago Stags
4     21946   1610610028                    DEF          Detroit Falcons

      game_id            game_date matchup_home wl_home  min  fgm_home  ...  \
0  0024600001  1946-11-01 00:00:00  HUS vs. NYK       L    0      25.0  ...
1  0024600003  1946-11-02 00:00:00  BOM vs. PIT       W    0      20.0  ...
2  0024600002  1946-11-02 00:00:00  PRO vs. BOS       W    0      21.0  ...
3  0024600004  1946-11-02 00:00:00  CHS vs. NYK       W    0      21.0  ...
4  0024600005  1946-11-02 00:00:00  DEF vs. WAS       L    0      10.0  ...

   reb_away  ast_away stl_away blk_away tov_away  pf_away  pts_away  \
0      None      None     None     None     None      NaN      68.0
1      None      None     None     None     None     25.0      51.0
2      None      None     None     None     None      NaN      53.0
3      None      None     None     None     None     22.0      47.0
4      None      None     None     None     None      NaN      50.0

   plus_minus_away video_available_away     season_type
0                2                    0  Regular Season
1               -5                    0  Regular Season
2               -6                    0  Regular Season
3              -16                    0  Regular Season
4               17                    0  Regular Season

[5 rows x 55 columns]

In [29]:
import pandas as pd
import sqlite3

con = sqlite3.connect("data/nba.sqlite")
games = pd.read_sql_query("SELECT * FROM game LIMIT 100", con)
active_players = pd.read_sql_query("SELECT full_name FROM player WHERE is_active=TRUE", con)

In [28]:
import pandas as pd
import sqlite3
from statistics import mean

# Connect to the SQLite database
con = sqlite3.connect("data/nba.sqlite")

# Retrieve data
games = pd.read_sql_query("SELECT * FROM game LIMIT 100", con)
active_players = pd.read_sql_query("SELECT full_name FROM player WHERE is_active=TRUE", con)

# Filter for Los Angeles Lakers games
lakers_games = pd.read_sql_query("SELECT team_abbreviation_home, pts_home, team_abbreviation_away, pts_away, season_id, game_date FROM game WHERE team_abbreviation_home='LAL' OR team_abbreviation_away='LAL' ORDER BY game_date DESC LIMIT 10", con)
lakers_games

# Calculate average home points for Lakers
lal_home_avg = pd.read_sql_query("SELECT team_name_home, ROUND(AVG(pts_home), 2) AS avg_home_pts FROM game WHERE team_name_home='Los Angeles Lakers' AND season_id=22022", con)
lal_home_avg

# Calculate average away points for Lakers
lal_away_avg = pd.read_sql_query("SELECT team_name_away, ROUND(AVG(pts_away), 2) AS avg_away_pts FROM game WHERE team_name_away='Los Angeles Lakers' AND season_id=22022", con)
lal_away_avg

# Calculate overall average score
print("Overall Average Score: " + str(round(mean([lal_home_avg["avg_home_pts"][0], lal_away_avg["avg_away_pts"][0]]), 2)))

Overall Average Score: 117.17