In [21]:
# import pandas as pd
# import sqlite3

# con = sqlite3.connect("data/nba.sqlite")
# df = pd.read_sql_query("SELECT * from game LIMIT 100", con)
# df

# print("Sample Games Data:")
# print(games.head())

# # Load all active players into a DataFrame
# active_players = pd.read_sql_query("SELECT full_name FROM player WHERE is_active=TRUE", con)
# print("Active Players:")
# print(active_players.head())

# # Step 1: Find the most recent season
# recent_season = pd.read_sql_query("SELECT MAX(season) AS recent_season FROM game", con)
# print(f"Most Recent Season: {recent_season.iloc[0, 0]}")

# # Step 2: Get all teams for the most recent season
# teams = pd.read_sql_query(f"""
#     SELECT DISTINCT t.team_name 
#     FROM team t
#     JOIN game g ON g.home_team_id = t.team_id OR g.away_team_id = t.team_id
#     WHERE g.season = {recent_season.iloc[0, 0]}
#     """, con)
# print("Teams in the Most Recent Season:")
# print(teams)

# # Select a team (you can pick any team from the list printed above)
# team_name = 'Chosen_Team_Name'  # Replace this with the actual team name

# # Step 3: Get Home Game Scores for the Chosen Team
# home_games = pd.read_sql_query(f"""
#     SELECT g.game_id, g.home_team_id, g.home_team_score 
#     FROM game g
#     JOIN team t ON g.home_team_id = t.team_id
#     WHERE t.team_name = '{team_name}' AND g.season = {recent_season.iloc[0, 0]}
#     """, con)

# # Step 4: Get Away Game Scores for the Chosen Team
# away_games = pd.read_sql_query(f"""
#     SELECT g.game_id, g.away_team_id, g.away_team_score
#     FROM game g
#     JOIN team t ON g.away_team_id = t.team_id
#     WHERE t.team_name = '{team_name}' AND g.season = {recent_season.iloc[0, 0]}
#     """, con)

# # Step 5: Calculate the Average Home and Away Scores
# home_avg_score = home_games['home_team_score'].mean()
# away_avg_score = away_games['away_team_score'].mean()

# print(f"Average Home Score for {team_name}: {home_avg_score}")
# print(f"Average Away Score for {team_name}: {away_avg_score}")

In [22]:
import pandas as pd
import sqlite3

con = sqlite3.connect("data/nba.sqlite")
games = pd.read_sql_query("SELECT * FROM game LIMIT 100", con)
active_players = pd.read_sql_query("SELECT full_name FROM player WHERE is_active=TRUE", con)

In [23]:
import pandas as pd
import sqlite3

con = sqlite3.connect("data/nba.sqlite")
df = pd.read_sql_query("SELECT * from game LIMIT 100", con)
df

print("Sample Games Data:")
print(games.head())

Sample Games Data:
  season_id team_id_home team_abbreviation_home           team_name_home  \
0     21946   1610610035                    HUS          Toronto Huskies
1     21946   1610610034                    BOM        St. Louis Bombers
2     21946   1610610032                    PRO  Providence Steamrollers
3     21946   1610610025                    CHS            Chicago Stags
4     21946   1610610028                    DEF          Detroit Falcons

      game_id            game_date matchup_home wl_home  min  fgm_home  ...  \
0  0024600001  1946-11-01 00:00:00  HUS vs. NYK       L    0      25.0  ...
1  0024600003  1946-11-02 00:00:00  BOM vs. PIT       W    0      20.0  ...
2  0024600002  1946-11-02 00:00:00  PRO vs. BOS       W    0      21.0  ...
3  0024600004  1946-11-02 00:00:00  CHS vs. NYK       W    0      21.0  ...
4  0024600005  1946-11-02 00:00:00  DEF vs. WAS       L    0      10.0  ...

   reb_away  ast_away stl_away blk_away tov_away  pf_away  pts_away  \
0      None      None     None     None     None      NaN      68.0
1      None      None     None     None     None     25.0      51.0
2      None      None     None     None     None      NaN      53.0
3      None      None     None     None     None     22.0      47.0
4      None      None     None     None     None      NaN      50.0

   plus_minus_away video_available_away     season_type
0                2                    0  Regular Season
1               -5                    0  Regular Season
2               -6                    0  Regular Season
3              -16                    0  Regular Season
4               17                    0  Regular Season

[5 rows x 55 columns]

In [25]:
import pandas as pd
import sqlite3

# Connect to the SQLite database
con = sqlite3.connect("data/nba.sqlite")

# Read the first 100 rows from the "game" table
df = pd.read_sql_query("SELECT * from game LIMIT 100", con)

# Display column names
print("Column names:", df.columns)

# Display the first few rows of the data
print("Sample Games Data:")
print(df.head())

Column names: Index(['season_id', 'team_id_home', 'team_abbreviation_home', 'team_name_home',
       'game_id', 'game_date', 'matchup_home', 'wl_home', 'min', 'fgm_home',
       'fga_home', 'fg_pct_home', 'fg3m_home', 'fg3a_home', 'fg3_pct_home',
       'ftm_home', 'fta_home', 'ft_pct_home', 'oreb_home', 'dreb_home',
       'reb_home', 'ast_home', 'stl_home', 'blk_home', 'tov_home', 'pf_home',
       'pts_home', 'plus_minus_home', 'video_available_home', 'team_id_away',
       'team_abbreviation_away', 'team_name_away', 'matchup_away', 'wl_away',
       'fgm_away', 'fga_away', 'fg_pct_away', 'fg3m_away', 'fg3a_away',
       'fg3_pct_away', 'ftm_away', 'fta_away', 'ft_pct_away', 'oreb_away',
       'dreb_away', 'reb_away', 'ast_away', 'stl_away', 'blk_away', 'tov_away',
       'pf_away', 'pts_away', 'plus_minus_away', 'video_available_away',
       'season_type'],
      dtype='object')
Sample Games Data:
  season_id team_id_home team_abbreviation_home           team_name_home  \
0     21946   1610610035                    HUS          Toronto Huskies
1     21946   1610610034                    BOM        St. Louis Bombers
2     21946   1610610032                    PRO  Providence Steamrollers
3     21946   1610610025                    CHS            Chicago Stags
4     21946   1610610028                    DEF          Detroit Falcons

      game_id            game_date matchup_home wl_home  min  fgm_home  ...  \
0  0024600001  1946-11-01 00:00:00  HUS vs. NYK       L    0      25.0  ...
1  0024600003  1946-11-02 00:00:00  BOM vs. PIT       W    0      20.0  ...
2  0024600002  1946-11-02 00:00:00  PRO vs. BOS       W    0      21.0  ...
3  0024600004  1946-11-02 00:00:00  CHS vs. NYK       W    0      21.0  ...
4  0024600005  1946-11-02 00:00:00  DEF vs. WAS       L    0      10.0  ...

   reb_away  ast_away stl_away blk_away tov_away  pf_away  pts_away  \
0      None      None     None     None     None      NaN      68.0
1      None      None     None     None     None     25.0      51.0
2      None      None     None     None     None      NaN      53.0
3      None      None     None     None     None     22.0      47.0
4      None      None     None     None     None      NaN      50.0

   plus_minus_away video_available_away     season_type
0                2                    0  Regular Season
1               -5                    0  Regular Season
2               -6                    0  Regular Season
3              -16                    0  Regular Season
4               17                    0  Regular Season

[5 rows x 55 columns]

In [29]:
import pandas as pd
import sqlite3

con = sqlite3.connect("data/nba.sqlite")
games = pd.read_sql_query("SELECT * FROM game LIMIT 100", con)
active_players = pd.read_sql_query("SELECT full_name FROM player WHERE is_active=TRUE", con)

In [1]:
import pandas as pd
import sqlite3
from statistics import mean

con = sqlite3.connect("data/nba.sqlite")

# Retrieving data
games = pd.read_sql_query("SELECT * FROM game LIMIT 100", con)
active_players = pd.read_sql_query("SELECT full_name FROM player WHERE is_active=TRUE", con)

Overall Average Score: 117.17

In [2]:
# Los Angeles Lakers games filter
lakers_games = pd.read_sql_query("SELECT team_abbreviation_home, pts_home, team_abbreviation_away, pts_away, season_id, game_date FROM game WHERE team_abbreviation_home='LAL' OR team_abbreviation_away='LAL' ORDER BY game_date DESC LIMIT 10", con)
lakers_games

,team_abbreviation_home,pts_home,team_abbreviation_away,pts_away,season_id,game_date
0,LAL,111.0,DEN,113.0,42022,2023-05-22 00:00:00
1,LAL,108.0,DEN,119.0,42022,2023-05-20 00:00:00
2,DEN,108.0,LAL,103.0,42022,2023-05-18 00:00:00
3,DEN,132.0,LAL,126.0,42022,2023-05-16 00:00:00
4,LAL,122.0,GSW,101.0,42022,2023-05-12 00:00:00
5,GSW,121.0,LAL,106.0,42022,2023-05-10 00:00:00
6,LAL,104.0,GSW,101.0,42022,2023-05-08 00:00:00
7,LAL,127.0,GSW,97.0,42022,2023-05-06 00:00:00
8,GSW,127.0,LAL,100.0,42022,2023-05-04 00:00:00
9,GSW,112.0,LAL,117.0,42022,2023-05-02 00:00:00

In [3]:
# Calculating average home points for Lakers
lal_home_avg = pd.read_sql_query("SELECT team_name_home, ROUND(AVG(pts_home), 2) AS avg_home_pts FROM game WHERE team_name_home='Los Angeles Lakers' AND season_id=22022", con)
lal_home_avg

       team_name_home  avg_home_pts
0  Los Angeles Lakers        117.02

In [4]:
# Calculating average away points for Lakers
lal_away_avg = pd.read_sql_query("SELECT team_name_away, ROUND(AVG(pts_away), 2) AS avg_away_pts FROM game WHERE team_name_away='Los Angeles Lakers' AND season_id=22022", con)
lal_away_avg

# Calculate overall average score
print("Overall Average Score: " + str(round(mean([lal_home_avg["avg_home_pts"][0], lal_away_avg["avg_away_pts"][0]]), 2)))

Overall Average Score: 117.17

In [3]:
import pandas as pd
import sqlite3
import numpy as np

# Connect to the SQLite database
con = sqlite3.connect("data/nba.sqlite")

# 1. Home and Away Point Distribution
# Retrieve Lakers' home and away points
home_points = pd.read_sql_query("""
    SELECT pts_home AS points FROM game WHERE team_name_home='Los Angeles Lakers'
""", con)
away_points = pd.read_sql_query("""
    SELECT pts_away AS points FROM game WHERE team_name_away='Los Angeles Lakers'
""", con)

# Calculate statistics for home and away points
home_stats = home_points['points'].describe(percentiles=[.25, .5, .75])
away_stats = away_points['points'].describe(percentiles=[.25, .5, .75])

print("Home Points Distribution:\n", home_stats)
print("Away Points Distribution:\n", away_stats)

# 2. Points Comparison by Opponent Team (for Last 10 Games)
# Retrieve Lakers' games data for the last 10 games and calculate point difference
lakers_games = pd.read_sql_query("""
    SELECT team_abbreviation_home, pts_home, team_abbreviation_away, pts_away, game_date 
    FROM game 
    WHERE team_abbreviation_home='LAL' OR team_abbreviation_away='LAL' 
    ORDER BY game_date DESC LIMIT 10
""", con)

lakers_games['point_difference'] = np.where(
    lakers_games['team_abbreviation_home'] == 'LAL', 
    lakers_games['pts_home'] - lakers_games['pts_away'], 
    lakers_games['pts_away'] - lakers_games['pts_home']
)
print("Points Difference in Last 10 Games:\n", lakers_games[['game_date', 'point_difference']])

# Calculate mean and median of point differences
mean_difference = lakers_games['point_difference'].mean()
median_difference = lakers_games['point_difference'].median()
print("Mean Points Difference:", mean_difference)
print("Median Points Difference:", median_difference)

# 3. Seasonal Scoring Trends
# Calculate monthly averages, maximums, and minimums
seasonal_trends = pd.read_sql_query("""
    SELECT strftime('%Y-%m', game_date) AS month, 
           AVG(CASE WHEN team_abbreviation_home = 'LAL' THEN pts_home 
                    WHEN team_abbreviation_away = 'LAL' THEN pts_away END) AS avg_points,
           MAX(CASE WHEN team_abbreviation_home = 'LAL' THEN pts_home 
                    WHEN team_abbreviation_away = 'LAL' THEN pts_away END) AS max_points,
           MIN(CASE WHEN team_abbreviation_home = 'LAL' THEN pts_home 
                    WHEN team_abbreviation_away = 'LAL' THEN pts_away END) AS min_points
    FROM game
    WHERE season_id = 22022
    GROUP BY month
""", con)
print("Seasonal Scoring Trends:\n", seasonal_trends)

# 4. Point Discrepancy Between Home and Away Games
# Calculate mean, std, and median point discrepancy
home_avg = home_points['points'].mean()
away_avg = away_points['points'].mean()
discrepancy = home_avg - away_avg
discrepancy_std = np.std([home_avg, away_avg])

print("Mean Home Points:", home_avg)
print("Mean Away Points:", away_avg)
print("Home-Away Point Discrepancy:", discrepancy)
print("Standard Deviation of Discrepancy:", discrepancy_std)

# 5. Scoring Efficiency Metrics (Points per Game Minute)
# Assuming each game is 48 minutes long
home_points['points_per_minute'] = home_points['points'] / 48
away_points['points_per_minute'] = away_points['points'] / 48

home_efficiency = home_points['points_per_minute'].describe()
away_efficiency = away_points['points_per_minute'].describe()

print("Home Scoring Efficiency:\n", home_efficiency)
print("Away Scoring Efficiency:\n", away_efficiency)

# Close the database connection
con.close()

Home Points Distribution:
 count    2661.000000
mean      109.714769
std        14.020293
min        71.000000
25%       100.000000
50%       109.000000
75%       119.000000
max       162.000000
Name: points, dtype: float64
Away Points Distribution:
 count    2542.000000
mean      105.753737
std        13.230732
min        68.000000
25%        97.000000
50%       106.000000
75%       115.000000
max       153.000000
Name: points, dtype: float64
Points Difference in Last 10 Games:
              game_date  point_difference
0  2023-05-22 00:00:00              -2.0
1  2023-05-20 00:00:00             -11.0
2  2023-05-18 00:00:00              -5.0
3  2023-05-16 00:00:00              -6.0
4  2023-05-12 00:00:00              21.0
5  2023-05-10 00:00:00             -15.0
6  2023-05-08 00:00:00               3.0
7  2023-05-06 00:00:00              30.0
8  2023-05-04 00:00:00             -27.0
9  2023-05-02 00:00:00               5.0
Mean Points Difference: -0.7
Median Points Difference: -3.5
Seasonal Scoring Trends:
      month  avg_points  max_points  min_points
0  2022-10  105.333333       121.0        97.0
1  2022-11  116.428571       143.0       100.0
2  2022-12  119.562500       133.0        98.0
3  2023-01  119.437500       140.0       104.0
4  2023-02  116.200000       130.0       106.0
5  2023-03  114.933333       123.0       102.0
6  2023-04  127.200000       135.0       118.0
Mean Home Points: 109.71476888387824
Mean Away Points: 105.7537372147915
Home-Away Point Discrepancy: 3.9610316690867364
Standard Deviation of Discrepancy: 1.9805158345433682
Home Scoring Efficiency:
 count    2661.000000
mean        2.285724
std         0.292089
min         1.479167
25%         2.083333
50%         2.270833
75%         2.479167
max         3.375000
Name: points_per_minute, dtype: float64
Away Scoring Efficiency:
 count    2542.000000
mean        2.203203
std         0.275640
min         1.416667
25%         2.020833
50%         2.208333
75%         2.395833
max         3.187500
Name: points_per_minute, dtype: float64